.profileContainer {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    padding: 20px 8%;
}

.profileHeader {
    background-color: #577a74;
    padding: 20px;
    border-radius: 8px;
}

.profileInfo {
    display: flex;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    margin-right: 20px;
}

.userDetails {
    margin-bottom: 10px;
}

.menu {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.mainSection {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.playlistSection {
    margin-bottom: 30px;
}

.playlistGrid {
    display: flex;
    gap: 20px;
}

.footer {
    background-color: black;
    padding: 20px;
    margin-top: 30px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
    
}

.company,
.usefulLink,
.contactUs {
    margin-bottom: 10px;
    color: white;
}

.icon {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.footerBottom {
    text-align: center;
    color: white;
    font-size: 14px;
}